openai>=1.30.0
langchain>=0.3.25
langchain-community>=0.3.20
langchain-openai>=0.3.10
langgraph>=0.2.50
langchain-groq
langchain-tavily
langchain-ollama

langgraph-checkpoint-postgres

faiss-cpu
pypdf
pandas
openpyxl
streamlit
tiktoken
python-dotenv
paho-mqtt
matplotlib
chromadb
sqlite-utils
streamlit-autorefresh
psycopg[binary] 
psycopg_pool
tavily-python
streamlit
sentence-transformers
google-generativeai

chromadb
sentence-transformers
pypdf
langchain-text-splitters

fastapi
uvicorn
